.page-content > .page-placeholder {
    vertical-align: center;
    horizontal-align: center;
}

.page-content > .page-icon {
    font-size: 72;
    vertical-align: top;
    horizontal-align: center;
    margin-top: 20%;
}

ActionBar .action-bar-title {
    horizontal-align: center;
}
